footer{
    width: 100%;
    color: black;

}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: black;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;

}

#footer_social_media .footer-link:hover{
    opacity: 0.8;

}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin{
    background-color: #0A66C2;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #000000;
}

.footer-list .footer-link:hover{
    color: var(--secondary);
}